@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

nav{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.blockNumber{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
}

.bg-hero {
    --s: 208px; /* control the size*/
    --c1: #ffffff;
    --c2: #081d35;
    
    --_g:radial-gradient(#0000 60%,var(--c1) 61% 63%,#0000 64% 77%,var(--c1) 78% 80%,#0000 81%);
    --_c:,#0000 75%,var(--c2) 0;
    background:
      conic-gradient(at 12% 20% var(--_c)) calc(var(--s)* .44) calc(.9*var(--s)),
      conic-gradient(at 12% 20% var(--_c)) calc(var(--s)*-.06) calc(.4*var(--s)),
      conic-gradient(at 20% 12% var(--_c)) calc(.9*var(--s)) calc(var(--s)* .44),
      conic-gradient(at 20% 12% var(--_c)) calc(.4*var(--s)) calc(var(--s)*-.06),
      var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2) var(--c2);
    background-size: var(--s) var(--s);
}

.tab-1, .tab-2{
    border-right: 1px solid rgba(0,0,0,0.2);
}
.first{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.latest{
    border: 2px solid rgba(0,0,0,0.1);
}